<div class="container">
  <h1 class="title mt-4 mb-4">Submit Tax Filing</h1>
</div>

<div>
  <div class="container">
    <div class="stepper">
      <div class="stepper-header mb-4">
        <div class="step">
          <div [ngClass]="{ active: step === 1 }" class="stepper-circle">1</div>
          <div [ngClass]="{ active: step === 1 }" class="stepper-label active">
            Input Detail
          </div>
        </div>
        <div class="line">
          <hr />
        </div>
        <div class="step">
          <div [ngClass]="{ active: step === 2 }" class="stepper-circle">2</div>
          <div [ngClass]="{ active: step === 2 }" class="stepper-label">
            Review & Confirm
          </div>
        </div>
      </div>
      <div class="stepper-content mb-4">
        <div class="content" *ngIf="step === 1">
          <app-tax-filing-form
            [taxFilingForm]="taxFilingForm"
            [isSubmit]="isSubmit"
          ></app-tax-filing-form>
        </div>
        <div class="content" *ngIf="step === 2">
          <app-tax-filing-review
            [tax]="taxFilingForm.value"
          ></app-tax-filing-review>
        </div>
      </div>
      <div class="stepper-footer mb-4">
        <button
          type="button"
          class="btn btn-outline-dark mr-3 back-btn"
          (click)="backStep()"
          [disabled]="step === 1"
        >
          Back
        </button>
        <button
          *ngIf="step == 1"
          type="button"
          class="btn btn-dark next-btn"
          (click)="nextStep()"
        >
          Next
        </button>
        <button
          *ngIf="step == 2"
          type="button"
          class="btn btn-dark confirm-btn"
          (click)="openModal(taxDataModal)"
        >
          Confirm and Submit
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #taxDataModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tax Detail</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">{{ taxFilingForm.value | json }}</div>
</ng-template>
